body{
    text-align:center;
}
.box{
    
    border-radius:20%;
    border:10px solid black;
    height:200px;
    width:200px;
    margin:20px;
}

.box-container{
    display:flex;
    justify-content:center;
}
.yellow{
    background-color:#f99b45;
}
.red{
    background-color:#d95980;
}
.blue{
    background-color:#63aac0;
}
.purple{
    background-color:#819ff9;
}

.flash{
    background-color:white;
}